{% extends 'basics/seller_panel_base.html' %}
{% block other_head %}
    <script src="/static/js/add-product.js" defer></script>
{% endblock %}
{% block content %}
    <form class="" action="" method="POST"
          enctype="multipart/form-data">{% csrf_token %}
        <div class="row d-flex  mt-2 ms-2 justify-content-center">

            <div class=" col-md-auto me-0 d-flex d-flex flex-column p-0">
                <div class=" d-flex justify-content-center align-items-center mb-1"
                     style="width: 200px;height: 200px; border: 2px dashed black; ">
                    <i class="col fa-solid fa-plus col-auto" id="icon-upload-image"></i>
                    {#                    <img id="uploaded-image" src="" alt="" class="col w-100 h-100 visually-hidden">#}


                    <div class="col
                    visually-hidden" style="" id="uploaded-image">
                        <div class="card carousel-inner rounded-0">
                            <div id="id{{ product.pid }}" class="carousel carousel-dark slide">
                                <div class="carousel-item active">
                                    <img src="" class="card-img-top" alt="" style="width: 200px;height: 200px;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="" class="card-img-top" alt="" style="width: 200px;height: 200px;">
                                </div>
                                <button class="carousel-control-prev btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon carousel-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <input class="" type="file" id="image" name="image" required style="max-width: 280px" multiple>
            </div>
            <div class=" col-md-auto ms-0 d-flex flex-column ps-0">
                <input type="text" placeholder="Titolo" style="border: 2px dashed black;" name="title" class="mb-2"
                       required>
                <input type="number" step="0.01" placeholder="Prezzo" style="border: 2px dashed black;" name="price"
                       class="mb-2"
                       required>
                <input type="text" placeholder="Descrizione" style="border: 2px dashed black; height: 50px;"
                       name="description" class="mb-2" required>
                {#                <input type="text" placeholder="Titolo" style="border: 2px dashed black;" name="title" required>#}
                <div class="col-md-10 d-flex flex-column">
                    <span>Quantità taglie</span>
                    <div class="btn-group mt-0 pt-0 ps-3" role="" style="margin-top: 0px; "
                         id="size-btn-group">

                        <div class="row d-flex flex-column justify-content-center me-3">
                            <button type="button"
                                    class="btn btn-outline-dark mb-1"
                                    style="font-family: Inter,serif; border-radius: 0"> XS
                            </button>
                            <input type="number" placeholder="qty" style="width: 50px" class="p-0" name="size-xs">
                        </div>
                        <div class="row d-flex flex-column me-3">
                            <button type="button"
                                    class="btn btn-outline-dark mb-1"
                                    style="font-family: Inter,serif; border-radius: 0"> S
                            </button>
                            <input type="number" placeholder="qty" style="width: 50px" class="p-0" name="size-s">
                        </div>
                        <div class="row d-flex flex-column me-3">
                            <button type="button"
                                    class="btn btn-outline-dark mb-1"
                                    style="font-family: Inter,serif; border-radius: 0"> M
                            </button>
                            <input type="number" placeholder="qty" style="width: 50px" class="p-0" name="size-m">
                        </div>
                        <div class="row d-flex flex-column me-3">
                            <button type="button"
                                    class="btn btn-outline-dark mb-1"
                                    style="font-family: Inter,serif; border-radius: 0"> L
                            </button>
                            <input type="number" placeholder="qty" style="width: 50px" class="p-0" name="size-l">
                        </div>
                        <div class="row d-flex flex-column ">
                            <button type="button"
                                    class="btn btn-outline-dark mb-1"
                                    style="font-family: Inter,serif; border-radius: 0"> XL
                            </button>
                            <input type="number" placeholder="qty" style="width: 50px" class="p-0" name="size-xl">
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-auto ms-0 d-flex flex-column mt-2 me-2 ms-md-2" id="container-category-tags">
                <h6>Tag Categoria </h6>
                <div class="row d-flex flex-row align-items-center mb-1" id="contaner-first-btn">
                    <input type="text" placeholder="Tag" name="cat-tag" id="tag" style="width: 100px" class="col mb-1 me-1"
                           required>
                    <button class="col btn btn-sm btn-outline-dark rounded-0 mb-1" type="button" id="rm-tag-btn" style="">
                        <i class="fa-solid fa-minus col-md-auto" id="icon-upload-image"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-dark rounded-0" id="add-tag-btn">
                    <i class="fa-solid fa-plus col-md-auto" id="icon-upload-image"></i>
                </button>
            </div>

            <div class="col-auto ms-0 d-flex flex-column mt-2 " id="container-color-tags">
                <h6>Tag Colore</h6>
                <div class="row d-flex flex-row align-items-center mb-1" id="contaner-first-btn">
                    <input type="text" placeholder="Tag" name="color-tag" id="tag" style="width: 100px" class="col mb-1 me-1"
                           required>
                    <button class="col btn btn-sm btn-outline-dark rounded-0 mb-1" type="button" id="rm-tag-btn">
                        <i class="fa-solid fa-minus col-md-auto" id="icon-upload-image"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-dark rounded-0" id="add-tag-btn">
                    <i class="fa-solid fa-plus col-md-auto" id="icon-upload-image"></i>
                </button>
            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-dark rounded-0 ms-3 mt-3 col" style="max-width: 200px">Carica
                prodotto
            </button>
        </div>


    </form>
{% endblock %}