{% extends 'basics/seller_panel_base.html' %}
{% block other_head %}
    <script src="/static/js/all-orders-script.js" defer></script>
    <script src="https://kit.fontawesome.com/0adb953a4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="position-relative row d-flex flex-column  ">
        {% for product in products %}
            <span class="visually-hidden" id="product{{ product.pid }}">
                        <title>{{ product.title }}</title>
                        <price>{{ product.price }}</price>
                        <img1>{{ product.img1 }}</img1>
                    </span>
        {% endfor %}

        {% for order in orders %}
            <div class="col-12 container row d-flex flex-column order align-items-center" id="order{{ order.id }}">
                <div class="col-12 row border border-dark border-1 shadow d-flex flex-row flex-md-grow-1 justify-content-between m-2 p-1 mb-0 w-75" style="overflow-x: hidden">

                    <p class="col-md-4 mb-0 ps-0 pe-0" >Order number: {{ order.id }}</p>
                    <span class="col-md-4 p-0">{{ order.cart.user }}</span>

                    <div class="col-md-4 row d-flex flex-row align-items-center">
                        <p class="col-11 mb-0 p-0 pe-2 text-md-end text-start">Totale: {{ order.total_price }}€</p>
                        <i class="fa-solid fa-greater-than ms-0 col-1 p-0   " id="left-arrow"></i>
                    </div>


                </div>
                <div class="col-12 row border border-dark border-1 shadow d-flex flex-column flex-md-grow-1 justify-content-between m-2 mb-0 mt-0 w-75">

                    <div class="card-group d-flex flex-column"
                         id="card-container">
                        {% for p in order.cart.products_in_cart.select_related %}
                            <div class="card mt-3 collapse" style="max-width: 540px;"
                                 id="cart-element">
                                <div class="position-absolute row container-fluid mt-2 p-0">

                                </div>

                                <div class="row g-0">
                                    <a class="col-md-4 text-decoration-none text-dark" href="/product/{{ p.product.pid }}">
                                        <img src="/static/images/{{ p.product.img1 }}" class="img-fluid rounded-start"
                                             alt="...">
                                    </a>
                                    <div class="col-md-5">
                                        <div class="card-body">
                                            <h6 class="card-title" id="p-title">{{ p.product.title }}</h6>
                                            <p class="card-text mb-0 text-muted">Taglia: {{ p.size }}</p>
                                            <p class="card-text mb-0 text-muted">Prezzo: {{ p.product.price }}€</p>
                                            <p class="card-text mb-0 text-muted">Quantità: {{ p.qty }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col">
                        <div
                                class="p-0 ps-2 container-fluid mb-0 text-start d-flex flex-column align-items-start ms-1 address"
                                style="max-width: 200px" id="address{{ order.addr.id }}">
                            <h6 class="collapse address">Indirizzo di spedizione:</h6>

                            <span style=" font-size: 14px;"
                                  class="collapse address">{{ order.addr.name }} {{ order.addr.surname }}</span>
                            <span style=" font-size: 14px;" class="collapse address">{{ order.addr.line1 }}</span>
                            <span style=" font-size: 14px;"
                                  class="collapse address">{{ order.addr.city }}, {{ order.addr.zip }}</span>

                        </div>
                    </div>

                </div>

            </div>
        {% endfor %}
        {% if orders == '' %}
            <div class="container-fluid d-flex align-items-center flex-column mt-md-5">
                <h5 class="col-auto">Non sono ancora stati effettuati ordini</h5>
            </div>
        {% endif %}

    </div>
{% endblock %}

