{% extends 'basics/seller_panel_base.html' %}
{% block other_head %}
    {% load static %}
    {#    <script src="/static/js/add-product.js" defer></script>#}
{% endblock %}
{% block content %}
    <form class="" action="" method="POST"
          enctype="multipart/form-data">{% csrf_token %}

        <div class="container bg-light  border border-dark border-opacity-25 mt-2 "
             style="max-width: 700px; height: 400px; overflow-x: auto">
            <div class="row flex-row justify-content-center ps-1 ">
                {% for product in products %}
                    <a class="col mb-3 mt-3 text-decoration-none text-dark p-0" href="/product/{{ product.pid }}" >
                        <div class="card carousel-inner" style="width: 130px;height: 160px;">
                            <div id="id{{ product.pid }}" class="carousel carousel-dark slide">
                                <div class="carousel-item active">
                                    <img src="/static/images/{{ product.img1 }}" class="card-img-top"
                                         alt="..." >
                                </div>
                                <div class="carousel-item " >
                                    <img src="/static/images/{{ product.img2 }}" class="card-img-top"
                                         alt="..." >
                                </div>
                                <input type="checkbox" class="z-3  position-absolute" style="height: 20px; width: 20px;left: 15px;"
                                value="{{ product.pid }}" name="remove" multiple>

                                <button class="carousel-control-prev btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon carousel-dark"
                                                      aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body pt-1 pb-1">
                                <h5 class="card-header-tabs d-flex justify-content-between"
                                    style="font-size: 10px; font-family: Inter,serif;font-weight: bold;">
                                    <span>{{ product.title }}</span>
                                    <span>{{ product.price }}€</span>
                                </h5>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-danger rounded-0 ms-3 mt-3 col" style="max-width: 200px">
                Rimuovi prodotti
            </button>
        </div>


    </form>

{% endblock %}