{% extends 'basics/base.html' %}
{% block head %}
    <script src="{% static 'js/products-script.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/0adb953a4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid row d-flex justify-content-center mt-5 pt-2 pe-0" id="main-container">
        <div class="col-2 d-flex flex-column d-none d-lg-block p-0">
            <div class="row mt-5"></div>
            <div class="row mt-5"></div>
            <div class="row mt-5"></div>
            <div class="row mt-5 mb-2"></div>
            <div class="row g-4 d-flex justify-content-lg-center flex-column ">
                <form action="" class="p-0">
                    <h5 class="col p-0">Filtra prodotti</h5>
                    <div class="container-fluid border border-dark p-0 ms-1 row">
                        <div class="btn btn-outline-dark p-0 rounded-0 w-100" id="filter-cat-btn">
                            <div class="row d-flex flex-row justify-content-between align-items-center p-0">
                                <p class="m-0 col-md-auto">Categoria </p>
                                <i class="fa-solid fa-plus col-md-auto "></i>
                            </div>
                        </div>
                        <div class="row container-fluid collapse" id="category-collapse">
                            {% for tag in cat_tags %}
                                <div class="container row d-flex flex-row justify-content-start m-0 pe-0">
                                    <input type="checkbox" name="{{ tag.name }}" id="{{ tag.name }}" class="col-2">
                                    <label for="{{ tag.name }}" class="col-8 pe-0">{{ tag.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container-fluid border border-dark p-0 ms-1 row">
                        <div class="btn btn-outline-dark p-0 rounded-0 w-100" id="filter-color-btn">
                            <div class="row d-flex flex-row justify-content-between align-items-center p-0">
                                <p class="m-0 col-md-auto">Colore </p>
                                <i class="fa-solid fa-plus col-md-auto "></i>
                            </div>
                        </div>
                        <div class="row container-fluid collapse" id="color-collapse">
                            {% for tag in col_tags %}
                                <div class="container-fluid row m-0">
                                    <input type="checkbox" name="{{ tag.name }}" id="{{ tag.name }}" class="col-2">
                                    <label for="{{ tag.name }}" class="col-8 pe-0">{{ tag.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container-fluid border border-dark p-0 ms-1 row" id="">
                        <button class="btn btn-dark p-0 rounded-0 w-100" type="submit">
                            <div class="row d-flex flex-row justify-content-between align-items-center p-0">
                                <p class="m-0 col-md-auto ">Applica</p>
                                <i class="fa-solid fa-greater-than col-md-auto"></i>
                            </div>
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-10 row row-cols-md-4 g-4 d-flex justify-content-center mt-5 pt-2 ps-0">
            <h2 class="w-100">Prodotti</h2>
            <div class=" row w-100 mb-1 d-flex flex-row justify-content-between">
                <form class="col-auto" action="" method="POST">{% csrf_token %}
                    <input type="text" placeholder="CERCA" name="search-keys"
                           class="border-top-0 border-start-0 border-end-0">
                </form>
                <select class="col-auto border-start-0 border-top-0 border-end-0 ms-2" id="qty-sel">
                    <option value="1" selected="">Ordina</option>
                    <option value="2" id="order-increase-btn"> Prezzo: crescente</option>
                    <option value="3" id="order-decrease-btn">Prezzo: decrescente</option>
                </select>
            </div>

            {% if n_results %}
                {% if n_results != 0 %}
                    <p class="w-100 m-0"> Risultati della ricerca</p>
                {% endif %}
            {% endif %}

            {% if n_results == 0 %}
                <p class="w-100 m-0"> Nessun risultato trovato</p>
            {% endif %}

            {% for product in products %}
                <a href="/product/{{ product.pid }}" class="text-decoration-none text-dark mb-md-5 row d-flex justify-content-center">
                    <div class="col mb-1" style="max-width: 330px;max-height: 330px;">
                        <div class="card carousel-inner">
                            <div id="id{{ product.pid }}" class="carousel carousel-dark slide">
                                <div class="carousel-item active">
                                    <img src="/static/images/{{ product.img1 }}" class="card-img-top" alt="...">
                                </div>
                                <div class="carousel-item ">
                                    <img src="/static/images/{{ product.img2 }}" class="card-img-top" alt="...">
                                </div>
                                <button class="carousel-control-prev btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon carousel-dark" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next btn-dark" type="button"
                                        data-bs-target="#id{{ product.pid }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <h5 class="card-header-tabs d-flex justify-content-between"
                                    style="font-size: 14px; font-family: Inter,serif;font-weight: bold;">
                                    <span>{{ product.title }}</span>
                                    <span>{{ product.price }}€</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
        <div class="col-auto p-0"></div>

    </div>

{% endblock %}
